certifi==2020.6.20
dataclasses==0.7
tensorflow==1.15.2
horovod==0.19.5
loky==2.8.0
mkl-fft==1.0.6
mkl-random==1.0.1.1
mpi4py==3.0.3
numpy==1.18.5
olefile==0.46
Pillow==7.1.2
psutil==5.7.0
pycairo==1.19.1
PyGObject==3.36.1
PyYAML==5.3.1
six==1.15.0
torch==1.5.1
torchvision==0.6.0
